


<div class="spinner-holder-centered" *ngIf="groupLoading">
  <span class="spinner">
    Loading...
  </span>
</div>
<div *ngIf="!group && !groupLoading" class="create-group-button">
  <div title="Create Group" (click)="createGroupModalOpen = true">
    <clr-icon shape="plus" size="26"></clr-icon>
  </div>
</div>
<div *ngIf="group && !groupLoading">
  <h4 style="font-weight: bold">{{group.name}}</h4>
  <div class="clr-row">
    <div *ngFor="let member of group.members" class="clr-col-lg-6 clr-col-12">
      <div class="card">
        <div class="card-block member-card">
          <div class="icon-and-name-holder">
            <img [src]="member.imageUrl">
            <h5>{{member.username}}</h5>
          </div>
          <div>
            Kick
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="createGroupModalOpen">
  <h3 class="modal-title">Create Group</h3>
  <div class="modal-body">
    <form [formGroup]="nameFormGroup" clrForm>
      <clr-input-container>
        <label>Group Name</label>
        <input placeholder="Full name" clrInput formControlName="name" name="name" required />
        <clr-control-error>Minimum Length of 3 Characters!</clr-control-error>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="createGroupModalOpen = false">Cancel</button>
    <button type="button" class="btn btn-primary" [disabled]="nameFormGroup.invalid" (click)="submitName()">Ok</button>
  </div>
</clr-modal>
